---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Steps from '~/components/widgets/Steps.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FeaturedCategoryPosts from '~/components/widgets/FeaturedCategoryPosts.astro';
import { getPermalink } from '~/utils/permalinks';

const metadata = {
  title: 'Luxury Cruising & Sailing Magazine',
};
---

<Layout metadata={metadata}>
  <Fragment slot="announcement"></Fragment>
  <Fragment slot="header">
    <Header
      links={[
        { text: 'Home', href: '#' },
        { text: 'About', href: '#about' },
        { text: 'Resume', href: '#resume' },
        { text: 'Porfolio', href: '#porfolio' },
        { text: 'Blog', href: '#blog' },
        { text: 'Github', href: 'https://github.com/onwidget' },
      ]}
      actions={[
        {
          variant: 'secondary',
          text: 'Start Your Adventure',
          href: '#',
        },
      ]}
      isSticky
      showToggleTheme
    />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero
    id="hero"
    title="House Of Sails"
   >
    <Fragment slot="subtitle">
      Explore. Dream. Discover.
    </Fragment>
  </Hero>

  <!-- BlogLatestPosts Widget **************** -->

  <BlogLatestPosts
    id="blog"
    title="Top Stories"
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>

  <!-- Featured Yacht Posts **************** -->

  <FeaturedCategoryPosts
  title="Yachts"
  linkText="View more Yachts"
  category="Yachts"
  limit={3}
  linkText="View all yachts"
  linkUrl="/category/yachts"
  >
  <Fragment slot="bg">
    <div class="absolute inset-0 bg-white-50 dark:bg-transparent"></div>
  </Fragment>

  </FeaturedCategoryPosts>

  <FeaturedCategoryPosts
  title="Yachts"
  linkText="View more Yachts"
  category="Tutorials"
  limit={3}
  linkText="View all yachts"
  linkUrl="/category/yachts"
  >
  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment>

  </FeaturedCategoryPosts>

  <FeaturedCategoryPosts
  title="Yachts"
  linkText="View more Yachts"
  category="Tutorials"
  limit={3}
  linkText="View all yachts"
  linkUrl="/category/yachts"
  >
  <Fragment slot="bg">
    <div class="absolute inset-0 bg-white-50 dark:bg-transparent"></div>
  </Fragment>

  </FeaturedCategoryPosts>

  <FeaturedCategoryPosts
  title="Yachts"
  linkText="View more Yachts"
  category="Tutorials"
  limit={3}
  linkText="View all yachts"
  linkUrl="/category/yachts"
  >
  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment>

  </FeaturedCategoryPosts>

  <FeaturedCategoryPosts
  title="Yachts"
  linkText="View more Yachts"
  category="Tutorials"
  limit={3}
  linkText="View all yachts"
  linkUrl="/category/yachts"
  >
  <Fragment slot="bg">
    <div class="absolute inset-0 bg-white-50 dark:bg-transparent"></div>
  </Fragment>

  </FeaturedCategoryPosts>

  <FeaturedCategoryPosts
  title="Yachts"
  linkText="View more Yachts"
  category="Tutorials"
  limit={3}
  linkText="View all yachts"
  linkUrl="/category/yachts"
  >
  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment>

  </FeaturedCategoryPosts>

</Layout>
